<!-- Page Content -->
<header class="bg-secondary py-5 mb-5">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-2">
          <img src="https://thumbs.gfycat.com/EsteemedDimpledEstuarinecrocodile.webp" style="width: 100%;"/>
        </div>
        <div class="col-lg-10">
          <h1 class="display-4 text-white mt-5 mb-2">Desenvolvimento SPA com Angular</h1>
          <p class="lead mb-5 text-white">Desenvolvimento de uma app de cadastro simples.</p>
        </div>
      </div>
    </div>
  </header>

  <div class="container main-container" style="width: 100%;">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Principal Objetivos</h5>
        <p class="card-text">sadafdfdfdafffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
          sdfdsfffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
          dsfffffffffffffffffffffffffffffffffffdfsfsdsdddddddddddddddddddddddddddddddddddd
        </p>
        <a href="#" class="btn btn-secondary" [routerLink]="['/cadastro']">Realizar Cadastro</a>
        <a href="#" class="btn btn-secondary" style="margin-left:2%" [routerLink]="['/listagems']">Consultar Cadastros</a>
      </div>
    </div>
  </div>
<!-- Fim Content -->  