  <body >
    <form [formGroup]="formCadastro" class="col-4" (ngSubmit)="onSubmit()" style="text-align: center;width:50%;margin-top: 7%; margin-left: 25%;background-color: #D3D3D3;">
        <div class="form-group p-3">
            <label for="cadastroform" style="float: left;font-family:Verdana, sans-serif;font-size: large;font-weight: bold;">Nome:</label>
            <input class="form-control" type="text" placeholder="Nome" required name="nome" id="nome" formControlName="nome">
        </div>
        <div class="form-group p-3 col-auto my-1">
          <label for="cadastroform" style="float: left;font-family:Verdana, sans-serif;font-size: large;font-weight: bold;">Endereço de email:</label>
          <input type="email" class="form-control" id="cadastroform" placeholder="nome@exemplo.com" required name="email" formControlName="email">
        </div>
        <div class="form-group p-3">
            <label for="cadastroform" style="float: left;font-family:Verdana, sans-serif;font-size: large;margin-right: 2%;font-weight: bold;">CEP:</label>
            <input class="form-control" type="text" name="CEP" style="width: 30%;" required pattern= "\d{5}-?\d{3}" placeholder="99999-999" (keyup)='KeyUp($event)' required name="cep"> 
        </div>
        <div class="form-group p-3">
            <label for="cadastroform" style="float: left;font-family:Verdana, sans-serif;font-size: large;font-weight: bold;">Cidade:</label>
            <input class="form-control" type="text" placeholder="Cidade" value ="{{endereco.localidade}}" required name="localidade" formControlName="localidade">
        </div>
        <div class="form-group p-3">
            <label for="cadastroform" style="float: left;font-family:Verdana, sans-serif;font-size: large;font-weight: bold;">Rua:</label>
            <input class="form-control" type="text" placeholder="Nome" value ="{{endereco.logradouro}}" required name="logradouro" formControlName="logradouro">
        </div>
        <div class="form-group p-3">
            <label for="cadastroform" style="float: left;font-family:Verdana, sans-serif;font-size: large;margin-right: 2.5%;font-weight: bold;">Bairro:</label>
            <input class="form-control" type="text" placeholder="Bairro" style="width: 30%;" value ="{{endereco.bairro}}" required name="bairro" formControlName="bairro">
        </div>
        
        <div class="form-group p-3">
            <label for="cadastroform" style="float: left;font-family:Verdana, sans-serif;font-size: large;margin-right: 2%;font-weight: bold;">Estado:</label>
            <input class="form-control" type="text" placeholder="Estado" style="width: 30%;" value ="{{endereco.uf}}" required name="uf" formControlName="uf">
        </div>
        <div class="form-group p-3">
            <label for="cadastroform" style="float: left;font-family:Verdana, sans-serif;font-size: large;margin-right: 3.5%;font-weight: bold;">IBGE:</label>
            <input class="form-control" type="number" placeholder="IBGE" style="width: 30%;" value ="{{endereco.ibge}}" required name="ibge" formControlName="ibge">
        </div>
        <div class="form-floating p-3">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100%" name="observacoes" formControlName="observacoes"></textarea>
            <label for="cadastroform" style="font-family:Verdana, sans-serif;font-size: large;font-weight: bold;" class="p-3">Observações:</label>
          </div>

          <div class="form-floating p-3">
            <button href="#" type="submit" class="btn btn-dark" style="font-size: large;font-weight: bold;">Enviar</button>
          </div>
      </form>
  </body>
